.container{
    width: 100%;
    display: flex;
    max-width: 1000px;
}

figure{
    display: flex;
    flex-direction: column;
}

img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    cursor: pointer;
}

.conteudo div{
    display: none;
}

.conteudo div.ativo{
    display: flex !important;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: orangered;
    padding: 1.2rem; 
    border-radius: 10px;
    animation: show .5s forwards;
}

@keyframes show{
    from{
        opacity: 0;
        transform: matrix3d(-200px, 0, 0);
    }
    to{
        opacity: 1;
        transform: matrix3d(0px, 0, 0);
    }
}